/* Define a root variable for primary color */
:root {
	--primary-color: #261b04;
	--secondary-color: #f1592a;
	--accent-color: #feeeea;
	--tertiary-accent-color: #e7e5e4;
	--white-color: #fff;
	--shadow-color: rgba(0, 0, 0, 0.075);
	--default-black: #040300;
}

/* Global resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body Styles */
body {
	font-family: "Montserrat", sans-serif;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.1;
	font-weight: 400;
	color: var(--default-black);
	overflow: hidden;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

.container {
	max-width: 720px;
}

/* Heading Styles */
.heading-primary,
.heading-secondary,
.heading-tertiary {
	font-weight: 700;
	color: #333;
	letter-spacing: -0.5px;
}

.heading-primary {
	font-size: 5.2rem;
	line-height: 1.1;
	margin-bottom: 3.2rem;
}

.heading-secondary {
	font-size: 4.2rem;
	line-height: 1.1;
	margin-bottom: 4.2rem;
}

.heading-tertiary {
	font-size: 2.4rem;
	line-height: 1.1;
	margin-bottom: 3.2rem;
}

#centered-heading {
	text-align: center;
}

/* Paragraph Styles */
.description-text {
	font-size: 1.8rem;
	line-height: 1.6;
	margin-bottom: 5.2rem;
}

/* Button Styles */
a.btn {
	text-decoration: none;
}

.btn-primary {
	font-size: 1.8rem;
	font-weight: 400;
	padding: 1.2rem 2.4rem;
	border: none;
	border-radius: 1rem;
	color: var(--accent-color);
	background-color: var(--primary-color);

	transition: all 0.3s;
}

.btn-primary:hover {
	background-color: var(--secondary-color);
}

.btn-outline {
	font-size: 1.8rem;
	font-weight: 400;
	padding: 1.2rem 2.4rem;
	border: solid 2px var(--primary-color);
	border-radius: 1rem;
	color: var(--primary-color);

	transition: all 0.3s;
}

.btn-outline:hover {
	border: solid 2px var(--secondary-color);
	background-color: var(--secondary-color);
	color: var(--accent-color);
}

/* Grids */
.grid {
	display: grid;
	column-gap: 3.2rem;
	row-gap: 9.6rem;
}

.grid-2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
	grid-template-columns: repeat(4, 1fr);
}
