/* Header section */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-color);
	height: 9.6rem;
	padding: 0 4.8rem;
	position: relative;
}

.logo {
	height: 3.5rem;
	filter: invert();
}

/* Navbar */
.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: var(--accent-color);
	font-weight: 500;
	font-size: 1.8rem;

	transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:visited {
	color: var(--secondary-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
	padding: 1.2rem 2.4rem;
	border-radius: 9px;
	color: var(--accent-color);
	background-color: var(--secondary-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:visited {
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

/* Hero Section */
.hero-section {
	background-color: var(--accent-color);
	padding: 4.8rem 0 9.6rem 0;
}

.hero {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 9.6rem;
	align-items: center;
}

.hero-text {
	font-size: 2rem;
	line-height: 1.5;
	margin-bottom: 4.8rem;
}

.hero-content a {
	text-decoration: none;
}

.hero {
	width: 100%;
}

/* Newsletter */
.newsletter-section {
	background-color: var(--secondary-color);
	color: var(--accent-color);
	padding: 4.8rem 0 9.6rem 0;
}

.newsletter {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.newsletter h2 {
	font-size: 3.2rem;
	margin-bottom: 1.6rem;
}

.newsletter p {
	margin-bottom: 0;
}

.newsletter-input input {
	padding: 1.2rem 2.4rem;
	border: none;
	border-radius: 1rem 0 0 1rem;
	background-color: var(--accent-color);
	color: var(--secondary-color);
	font-size: 1.8rem;
}

#sub-btn {
	color: var(--accent-color);
	background-color: var(--primary-color);
	border-radius: 0 1rem 1rem 0;
}

#sub-btn:hover {
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

/* About Section */
.about-section {
	padding: 4.8rem 0 9.6rem 0;
	margin-top: 4.8rem;
}

.about {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	text-align: center;
}

.about-list {
	display: flex;
	gap: 5.2rem;
	flex-direction: row;
	align-items: center;
}

.about-list-item {
	margin-bottom: 5.2rem;
	text-align: center;
}

.about-list-item ion-icon {
	color: var(--secondary-color);
	display: block;
	margin: 0 auto;
}

.about-list-item h3 {
	color: var(--secondary-color);
	margin-top: 1rem;
}

.about-list-item a {
	text-align: center;
}

/* Features Section */
.features-section {
	padding: 4.8rem 0 9.6rem 0;
}

.features-section h2 {
	margin-bottom: 3.2rem;
}
.features {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 9.6rem;
	align-items: center;
}

.features-content span {
	font-size: 7.2rem;
	color: var(--tertiary-accent-color);
}

.features-img {
	width: 90%;
	border-radius: 1.8rem;
}

/* Pricing Section */

.pricing-section {
	padding: 4.8rem 0 9.6rem 0;
	margin-bottom: 9.6rem;
	background-color: var(--accent-color);
	text-align: center;
}

.pricing {
	max-width: 130rem;
	margin: 0 auto;
	padding: 9.6rem 0;
}

.pricing-card {
	position: relative;
	padding: 0 2rem 3.2rem 2rem;
	background-color: var(--white-color);
	box-shadow: 0 2.4rem 4.8rem var(--shadow-color);
	border-radius: 16px;
	transition: all 0.5s;
}

.pricing-card:hover {
	transform: translateY(-1.8rem);
	box-shadow: 0 3.2rem 6.4rem var(--shadow-color);
}

.pricing-card img {
	position: absolute;
	margin-bottom: -6.4rem;
	filter: drop-shadow(2px 2px 2px rgb(134, 134, 134));
	transform: translateY(-50%) translateX(-50%);

	width: 100%;
}

.card-heading {
	text-transform: uppercase;
	margin-top: 9.6rem;
	margin-bottom: 1.8rem;
	font-size: 2.4rem;
	align-content: center;
	color: var(--secondary-color);
}

.card-list {
	list-style: none;
	margin-bottom: 2.4rem;
	text-align: left;
}

.card-list-item {
	font-size: 2rem;
	line-height: 3.2rem;
}

.card-price {
	align-items: center;
	font-size: 1.8rem;
	color: var(--secondary-color);
	font-weight: 500;
	margin-bottom: 3.2rem;
}

.card-price span {
	font-size: 3.2rem;
}

.card-content a {
	text-decoration: none;
}

.hidden {
	visibility: hidden;
}

/* Reviews Section */
.reviews-section {
	padding: 4.8rem 0 9.6rem 0;
	margin-bottom: 9.6rem;
}

.reviews-section h2,
.description-text {
	margin-bottom: 3.2rem;
	text-align: center;
}

.reviews {
	max-width: 130rem;
	height: 50rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5.2rem;
	align-items: center;
}

.reviews-section-img {
	filter: brightness(0.8);
	width: 100%;
}

.reviews-content.grid {
	row-gap: 2.4rem;
}

.review-img {
	height: 4.2rem;
	width: 4.2rem;
	border-radius: 50%;
	margin-bottom: 2.4rem;
}

.review-text {
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 1.8rem;
}

.review-name {
	margin-top: 0.8rem;
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--secondary-color);
}

/* Contact Section */
.contact-section {
	padding: 4.8rem 0 9.6rem 0;
	text-align: center;
}

.contact {
	max-width: 130rem;
	height: 50rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5.2rem;
	align-items: center;
}

.contact-form {
	display: flex;
	gap: 1.8rem;
	flex-direction: column;
	padding: 1.8rem;
}

.contact-title {
	font-size: 2.4rem;
	color: var(--secondary-color);
	margin-bottom: 1rem;
}

.contact-text,
label {
	font-size: 1.8rem;
	text-align: left;
}

input,
textarea {
	padding: 1.2rem 2.4rem;
	border: none;
	border-radius: 1rem;
	border: 0.2rem solid var(--primary-color);
	font-size: 1.8rem;
}

.map {
	width: 45rem;
	height: 55rem;
	width: 100%;
	background-color: var(--secondary-color);
	border: none;
}
